*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@media screen and (max-width: 480px){

}

body{
    /* max-width: 1000px; */
    /* margin: 0 auto; */
}

a:hover,
a:active{
    color: #FF6565;
}

button:hover,
button:active{
    opacity: o.9;
}

header{
    background-image: url(images/headphones_hero_1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 46em;

}

.logo{
    width: 161px;
    height: 32px;
}

.nav{
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}

nav ul{
    display: flex;
    gap: 2rem;
    list-style: none;
    align-items: center;
    margin-right: 33px;
}

nav ul li a{
    color: white;
    text-decoration: none;
}

header section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    height: 30rem;
    color: white;
    margin-top: 3rem;
}

.heading2{
    font-size: 32px;
    color: white;
}

.cta{
    background-color: #FF6565;
    width: 162px;
    height: 44px;
    margin: 3em auto;
    border-radius: 20px;
    border: none;
}

.cta:hover{
    opacity: 0.7;
}

.wrap-paragraph{
    text-wrap: wrap;
    width: 30%;
    text-align: center;
}

/* what we do  */

.work-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    margin-top: 3em;
}

.icon-container{
    display: flex;
}

.icon-container div p{
    text-wrap: wrap;
    width: 65%;
}

.icon-container div img{
    height: 67px;
    margin-bottom: 3em;
}

/* Our results  */
.results-container{
    background-image: url(images/headphones_hero_2.jpg);
    background-size: cover;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3em;
    align-items: center;
    gap: 2.5rem;
}

.results-container .wrap-paragraph{
    color: white;
}

/* contact section  */
.form-section{
    height: 550px;
    margin: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.7em;
}

input{
    border: none;
    border-bottom: 0.8px solid black;
    width: 300px;
}

/* fo0ter section */
.footer{
    background-color: #071629;
    height: 200px;
    padding: 4em 0;
}

.copy-msg{
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 2em;
}

.footer .nav{
    margin: 0 4rem;
}

.social-links{
    display: flex;
    gap: 1.4em;
}

.items{
    display: flex;
    justify-content: center;
}

.item{
    display: flex;
    flex-direction: column;
    gap: 2em;
    /* background-image: url(images/pentagone.png);
    /* background-color: #FF6565; */
    color: white;
    /* border: 2px solid greenyellow; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

